// font

$main-font-family: "Dosis", sans-serif;

//colors

$pale-cream: #fefbf2;
$main-font-color: #083936;
$mid-gray: #d3cdc5;

$dark-green: #083936;
$dusty-green: #e9ece3;

$light-yellow: #ead7bc;
$mid-yellow: #f2cf78a3;
