@use "_variables.scss" as *;

.addNewRecipe {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;

  input[type="text"] {
    border: 2px solid $light-yellow;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    margin: 5px;
    font-size: 15px;
    box-shadow: -4px 7px 3px -4px lightgray;
    width: 250px;
  }
  &--button {
    background-color: transparent;
    border: 2px solid lightgrey;
    cursor: pointer;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.3s ease-in-out;
    margin-top: 5px;

    &:hover {
      color: black;
      background-color: lightpink;
      border: 2px solid lightpink;
    }
  }
}
