@use "_variables.scss" as *;

.recipeList {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  &--item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    border-radius: 14% 24% 0%;
    padding: 10px 65px;
    background-color: $dusty-green;

    &-updateButton {
      background-color: transparent;
      border: 2px solid lightgrey;
      cursor: pointer;
      color: black;
      padding: 5px;
      border-radius: 5px;
      font-size: 15px;
      transition: 0.3s ease-in-out;
      margin-top: 5px;
    }

    &-deleteButton {
      background-color: transparent;
      border: 2px solid lightgrey;
      cursor: pointer;
      color: black;
      padding: 5px;
      border-radius: 5px;
      font-size: 15px;
      transition: 0.3s ease-in-out;
      margin-top: 5px;
    }

    &-image {
      width: 300px;
      border-radius: 90px;
    }

    &-link {
      font-size: 15px;
    }

    input[type="text"] {
      border: none;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 5px;
      padding: 10px;
      outline: none;
      margin: 5px;
      font-size: 15px;
      width: 250px;
      text-align: center;
      font-family: "Dosis", sans-serif;
      font-size: 20px;
    }
  }
}
