@use "_variables.scss" as *;

.recipeList {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  &--item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    border-radius: 14% 24% 0%;
    padding: 10px 65px;
    background-color: $dusty-green;

    &-updateTitleButton {
      background-color: transparent;
      border: 2px solid lightgrey;
      cursor: pointer;
      color: black;
      padding: 5px;
      border-radius: 5px;
      font-size: 15px;
      transition: 0.3s ease-in-out;
      margin-top: 5px;
      font-family: $main-font-family;
      color: $main-font-color;
    }

    &-updateDescriptionButton {
      background-color: transparent;
      border: 2px solid lightgrey;
      cursor: pointer;
      color: black;
      padding: 3px;
      border-radius: 5px;
      font-size: 10px;
      transition: 0.3s ease-in-out;
      margin-top: 5px;
      font-family: $main-font-family;
      color: $main-font-color;
      margin-bottom: 7px;
    }

    &-deleteButton {
      background-color: transparent;
      border: 2px solid lightgrey;
      cursor: pointer;
      color: black;
      padding: 5px;
      border-radius: 5px;
      font-size: 15px;
      transition: 0.3s ease-in-out;
      margin-top: 5px;
      font-family: $main-font-family;
      color: $main-font-color;
    }

    &-image {
      width: 300px;
      border-radius: 90px;
    }

    &-link {
      font-size: 15px;
    }

    input[name="recipeTitle"] {
      background-color: transparent;
      border: 2px solid white;
      border-radius: 5px;
      padding: 8px;
      margin: 5px;
      width: 250px;
      text-align: center;
      font-family: $main-font-family;
      color: $main-font-color;
      font-size: 22px;
      font-weight: bold;
    }
    input[name="recipeDescription"] {
      background-color: transparent;
      border: 2px solid white;
      padding: 4px;
      margin: 5px;
      width: 250px;
      text-align: center;
      font-family: $main-font-family;
      color: $main-font-color;
      font-size: 20px;
      font-weight: initial;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
