@use "_variables.scss" as *;

.recipeList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  &--item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    border-radius: 14% 24% 0%;
    padding: 10px 65px;
    background-color: $dusty-green;

    &-titleWrap {
      margin: 25px 13px 13px 13px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-descriptionWrap {
      margin: 13px 13px 20px 13px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-updateTextButton {
      background-color: transparent;
      border: 2px solid transparent;
      cursor: pointer;
      padding: 3px;
      border-radius: 5px;
      font-size: 10px;
      transition: 0.3s ease-in-out;
      margin: 5px 5px 7px 12px;
      font-family: $main-font-family;
      color: transparent;

      &__is-highlighted {
        background-color: $mid-yellow;
        border: 2px solid $mid-yellow;
        color: black;
        color: $main-font-color;
      }
    }

    &-deleteButton {
      background-color: transparent;
      border: 2px solid transparent;
      cursor: pointer;
      color: black;
      padding: 5px;
      border-radius: 5px;
      font-size: 15px;
      transition: 0.3s ease-in-out;
      margin-top: 5px;
      font-family: $main-font-family;
      color: $main-font-color;

      &:hover {
        background-color: $mid-yellow;
        border: 2px solid lightgrey;
      }
    }

    &-image {
      width: 300px;
      padding: 25px 0px;
    }

    &-link {
      font-size: 15px;
    }
    p {
      font-size: 15px;
    }

    input[type="text"] {
      background-color: transparent;
      border: transparent;
      border-bottom: 2px solid white;
      padding: 4px;
      margin: 5px;
      width: 230px;
      font-family: $main-font-family;
      color: $main-font-color;
      font-size: 25px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        outline: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
