@use "_variables.scss" as *;

.searchRecipe {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--inputWrap {
    padding: 2px;
    outline: none;
    font-size: 15px;
    box-shadow: -4px 7px 3px -4px lightgray;
    width: 400px;
    height: 92%;
    border-radius: unset;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    border: 2px solid $mid-gray;
    border-radius: 1000px;
  }

  input[type="text"] {
    border: 2px solid $light-yellow;
    background-color: transparent;
    padding-left: 20px;
    outline: none;
    font-size: 18px;
    width: 100%;
    height: 92%;
    border-radius: unset;
    border: unset;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    font-family: $main-font-family;
    color: inherit;
  }
  &--button {
    background-color: transparent;
    border-left: 2px solid $mid-yellow;
    border-right: none;
    border-bottom: none;
    border-top: none;
    cursor: pointer;
    color: inherit;
    font-family: $main-font-family;
    padding: 0 38px;
    border-radius: 1000px;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    height: 92%;

    &:hover {
      background-color: $mid-yellow;
    }
  }
}
