@use "./styles/_variables.scss" as *;

body {
  background-color: $pale-cream;
}

.App {
  font-family: $main-font-family;
  font-size: 20px;
  color: $main-font-color;
}

// BEM FORMAT
// block--element__modifier
// contact--form-text-area__is-selected
