@use "./styles/_variables.scss" as *;

* {
  box-sizing: border-box;
}
body {
  background-color: $pale-cream;
  input {
    color: inherit;
  }
  button {
    color: inherit;
  }
}

.App {
  font-family: $main-font-family;
  font-size: 20px;
}

// BEM FORMAT
// block--element__modifier
// contact--form-text-area__is-selected
